Repository itgenio/uikit, pull requests merged in 2022-04, with the labels that each got.

#10 added maxLength to textField
  gkit/src/components/textField/index.tsx
Labels: project:uikit, project:uikit-components

#8 add orange color
  gkit/src/orangeColors.less
  gkit/src/variables.less
Labels: project:uikit, project:uikit-styles

#9 add purple color
  gkit/src/purpleColors.less
  gkit/src/variables.less
Labels: project:uikit, project:uikit-styles

#12 modal mobile
  app/src/pages/uikit/components/dialogs/index.tsx
  gkit/src/components/dialog/index.tsx
  gkit/src/components/dialog/style.less
  gkit/src/variables.less
Labels: project:demo-app, project:uikit, project:uikit-components, project:uikit-styles

#14 accordion
  app/src/pages/uikit/components/accordions/index.tsx
  app/src/pages/uikit/components/accordions/style.less
  app/src/pages/uikit/components/icons/checkIcon.tsx
  app/src/pages/uikit/index.tsx
  gkit/src/components/accordion/index.tsx
  gkit/src/components/accordion/style.less
  gkit/src/components/icons/chevron.tsx
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#16 toggle
  app/src/pages/uikit/components/toggles/index.tsx
  app/src/pages/uikit/components/toggles/style.less
  app/src/pages/uikit/index.tsx
  gkit/src/components/toggle/index.tsx
  gkit/src/components/toggle/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#22 added id-qa to modalPage, TextField. Added onBlur/onFocus to TextField
  app/src/pages/uikit/components/modalPages/index.tsx
  app/src/pages/uikit/components/textFields/index.tsx
  gkit/src/components/modalPage/index.tsx
  gkit/src/components/textField/index.tsx
Labels: project:demo-app, project:uikit, project:uikit-components

#24 GENA-7955 Add custom icons for export
  app/src/pages/uikit/components/icons/index.tsx
  app/src/pages/uikit/components/icons/style.less
  app/src/pages/uikit/index.tsx
  gkit/src/components/icons/checkMarkIcon.tsx
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/mobilePhoneIcon.tsx
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#15 switcher
  app/package-lock.json
  app/src/pages/uikit/components/switchers/index.tsx
  app/src/pages/uikit/components/switchers/style.less
  app/src/pages/uikit/index.tsx
  gkit/build.js
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/icons/circle.tsx
  gkit/src/components/switcher/index.tsx
  gkit/src/components/switcher/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#21 badge
  app/src/pages/uikit/components/badges/index.tsx
  app/src/pages/uikit/components/badges/style.less
  app/src/pages/uikit/index.tsx
  gkit/src/components/badge/index.tsx
  gkit/src/components/badge/style.less
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/star.tsx
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#25 add_idQa
  app/src/pages/uikit/components/accordions/index.tsx
  app/src/pages/uikit/components/switchers/index.tsx
  gkit/src/components/accordion/index.tsx
  gkit/src/components/switcher/index.tsx
Labels: project:demo-app, project:uikit, project:uikit-components

#19 popover
  app/package-lock.json
  app/src/pages/uikit/components/popovers/index.tsx
  app/src/pages/uikit/components/popovers/style.less
  app/src/pages/uikit/index.tsx
  gkit/build.js
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/popover/index.tsx
  gkit/src/components/popover/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components
