Repository itgenio/uikit, pull requests merged in 2022-07, with the labels that each got.

#51 addCircleIcon
  gkit/src/components/icons/add.tsx
  gkit/src/components/icons/addCircle.tsx
  gkit/src/components/icons/assets/add_24_filled.svg
  gkit/src/components/icons/assets/add_24_regular.svg
  gkit/src/components/icons/assets/add_circle_24_filled.svg
  gkit/src/components/icons/assets/add_circle_24_regular.svg
  gkit/src/components/icons/assets/dismiss_24_filled.svg
  gkit/src/components/icons/dismiss.tsx
  gkit/src/components/icons/index.ts
Labels: project:uikit, project:uikit-components

#53 change-name-class-checkmark
  gkit/src/components/inputs/select/style.less
Labels: project:uikit, project:uikit-components

#54 fix radioButton
  app/src/pages/uikit/components/radioButtons/index.tsx
  app/src/pages/uikit/components/radioButtons/style.less
  gkit/src/components/radioButton/index.tsx
Labels: project:demo-app, project:uikit, project:uikit-components

#52 add dropdown
  app/src/pages/uikit/components/checkboxes/index.tsx
  app/src/pages/uikit/components/multiSelects/index.tsx
  app/src/pages/uikit/components/multiSelects/style.less
  app/src/pages/uikit/index.tsx
  gkit/src/components/checkbox/index.tsx
  gkit/src/components/checkbox/style.less
  gkit/src/components/icons/assets/subtract_24_filled.svg
  gkit/src/components/icons/assets/subtract_24_regular.svg
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/subtract.tsx
  gkit/src/components/multiSelect/index.tsx
  gkit/src/components/multiSelect/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#56 scroll select
  app/src/pages/uikit/components/selects/index.tsx
  gkit/src/components/inputs/select/index.tsx
  gkit/src/components/inputs/select/style.less
  gkit/src/components/multiSelect/style.less
Labels: project:demo-app, project:uikit, project:uikit-components

#59 fix/focus-trap: Нельзя кликнуть вне дерева модалки, ошибка при динамической загрузке
  app/src/pages/uikit/components/icons/index.tsx
  app/src/pages/uikit/components/modalPages/examples/index.ts
  app/src/pages/uikit/components/modalPages/examples/simple.tsx
  app/src/pages/uikit/components/modalPages/examples/withContentInPortal/index.tsx
  app/src/pages/uikit/components/modalPages/examples/withContentInPortal/style.less
  app/src/pages/uikit/components/modalPages/examples/withLazyLoadedContent/content.tsx
  app/src/pages/uikit/components/modalPages/examples/withLazyLoadedContent/index.tsx
  app/src/pages/uikit/components/modalPages/index.tsx
  app/src/pages/uikit/components/modalPages/style.less
  gkit/src/components/dialog/index.tsx
  gkit/src/components/dialog/style.less
  gkit/src/components/modalPage/index.tsx
  gkit/src/components/modalPage/style.less
Labels: project:demo-app, project:uikit, project:uikit-components

#57 add badge multiSelect
  app/src/pages/uikit/components/multiSelects/index.tsx
  gkit/src/components/inputs/index.ts
  gkit/src/components/inputs/multiSelect/index.tsx
  gkit/src/components/inputs/multiSelect/style.less
  gkit/src/components/inputs/select/index.tsx
  gkit/src/components/multiSelect/index.tsx
  gkit/src/components/multiSelect/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#60 added divideByGroups to select
  app/src/pages/uikit/components/selects/index.tsx
  app/src/pages/uikit/components/switchers/index.tsx
  gkit/build.js
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/inputs/select/index.tsx
  gkit/src/components/inputs/select/style.less
  gkit/src/components/switcher/index.tsx
  gkit/src/components/switcher/style.less
Labels: project:demo-app, project:uikit, project:uikit-components

#62 add pattern input
  gkit/src/components/inputs/textField/index.tsx
Labels: project:uikit, project:uikit-components

#13 dropDown
  app/package-lock.json
  app/src/pages/uikit/components/dropdowns/index.tsx
  app/src/pages/uikit/components/dropdowns/style.less
  app/src/pages/uikit/index.tsx
  gkit/build.js
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/button/index.tsx
  gkit/src/components/dropdown/index.tsx
  gkit/src/components/dropdown/style.less
  gkit/src/index.ts
Labels: project:demo-app, project:uikit, project:uikit-components

#63 refactor/certain-import: Импорт конкретного компонента
  app/package-lock.json
  app/package.json
  app/src/components/darkModeButton/index.tsx
  app/src/main.tsx
  app/src/pages/uikit/components/accordions/index.tsx
  app/src/pages/uikit/components/badges/index.tsx
  app/src/pages/uikit/components/buttonGroup/index.tsx
  app/src/pages/uikit/components/buttons/index.tsx
  app/src/pages/uikit/components/checkboxes/index.tsx
  app/src/pages/uikit/components/dialogs/index.tsx
  app/src/pages/uikit/components/dropdowns/index.tsx
  app/src/pages/uikit/components/icons/index.tsx
  app/src/pages/uikit/components/links/index.tsx
  app/src/pages/uikit/components/modalPages/examples/simple.tsx
  app/src/pages/uikit/components/modalPages/examples/withContentInPortal/index.tsx
  app/src/pages/uikit/components/modalPages/examples/withLazyLoadedContent/index.tsx
  app/src/pages/uikit/components/multiSelects/index.tsx
  app/src/pages/uikit/components/popovers/index.tsx
  app/src/pages/uikit/components/radioButtons/index.tsx
  app/src/pages/uikit/components/selects/index.tsx
  app/src/pages/uikit/components/switchers/index.tsx
  app/src/pages/uikit/components/tabs/index.tsx
  app/src/pages/uikit/components/textAreas/index.tsx
  app/src/pages/uikit/components/textFields/advanced/controlledFocus.tsx
  app/src/pages/uikit/components/textFields/advanced/password.tsx
  app/src/pages/uikit/components/textFields/index.tsx
  app/src/pages/uikit/components/toggles/index.tsx
  app/src/pages/uikit/components/tooltips/index.tsx
  app/vite.config.ts
  gkit/.gitignore
  gkit/.npmignore
  gkit/package-lock.json
  gkit/package.json
  gkit/scripts/build.js
  gkit/scripts/buildTypes.js
  gkit/scripts/clean.js
  gkit/scripts/plugins/svgrPlugin.js
  gkit/scripts/plugins/writePlugin.js
  gkit/src/components/checkbox/index.tsx
  gkit/src/components/icons/icons.less
  gkit/src/components/inputs/index.ts
  gkit/src/components/internal/components/inputsContainer/index.tsx
  gkit/src/components/internal/components/inputsContainer/style.less
  gkit/src/components/internal/utils/generateId.ts
  gkit/src/components/multiSelect/index.tsx
  gkit/src/components/multiSelect/style.less
  gkit/src/components/select/index.tsx
  gkit/src/components/select/style.less
  gkit/src/components/textArea/index.tsx
  gkit/src/components/textArea/style.less
  gkit/src/components/textField/index.tsx
  gkit/src/components/textField/style.less
  gkit/src/index.ts
  gkit/tsconfig.build.json
  gkit/tsconfig.json
Labels: project:demo-app, project:uikit, project:uikit-components

#61 refactor/dialog: Рефакторинг Dialog
  app/package-lock.json
  app/src/pages/uikit/components/dialogs/index.tsx
  app/src/pages/uikit/components/dialogs/style.less
  app/src/pages/uikit/components/modalPages/examples/simple.tsx
  app/src/pages/uikit/components/modalPages/style.less
  app/src/pages/uikit/components/modals/examples/index.ts
  app/src/pages/uikit/components/modals/examples/simple.tsx
  app/src/pages/uikit/components/modals/examples/withContentInPortal/index.tsx
  app/src/pages/uikit/components/modals/examples/withContentInPortal/style.less
  app/src/pages/uikit/components/modals/examples/withLazyLoadedContent/content.tsx
  app/src/pages/uikit/components/modals/examples/withLazyLoadedContent/index.tsx
  app/src/pages/uikit/components/modals/index.tsx
  app/src/pages/uikit/components/modals/style.less
  app/src/pages/uikit/index.tsx
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/dialog/index.tsx
  gkit/src/components/dialog/style.less
  gkit/src/components/modal/components/body/index.tsx
  gkit/src/components/modal/components/body/style.less
  gkit/src/components/modal/components/footer/index.tsx
  gkit/src/components/modal/components/footer/style.less
  gkit/src/components/modal/components/header/index.tsx
  gkit/src/components/modal/components/header/style.less
  gkit/src/components/modal/components/index.ts
  gkit/src/components/modal/components/text/index.tsx
  gkit/src/components/modal/components/text/style.less
  gkit/src/components/modal/components/title/index.tsx
  gkit/src/components/modal/components/title/style.less
  gkit/src/components/modal/hooks/useBodyScroll.ts
  gkit/src/components/modal/index.tsx
  gkit/src/components/modal/internal/content/index.tsx
  gkit/src/components/modal/internal/content/style.less
  gkit/src/components/modal/internal/index.ts
  gkit/src/components/modal/internal/modal/index.tsx
  gkit/src/components/modal/internal/modal/style.less
  gkit/src/components/modal/internal/overlay/index.tsx
  gkit/src/components/modal/internal/overlay/style.less
  gkit/src/components/modal/internal/wrapper/index.tsx
  gkit/src/components/modal/internal/wrapper/style.less
  gkit/src/components/modalPage/index.tsx
  gkit/src/components/modalPage/style.less
  gkit/src/components/portal/index.tsx
  gkit/src/variables.less
Labels: project:demo-app, project:uikit, project:uikit-components, project:uikit-styles
