Repository itgenio/uikit, pull requests merged in 2022-08, with the labels that each got.

#65 Icon/header
  gkit/src/components/icons/alert.tsx
  gkit/src/components/icons/assets/alert_24_filled.svg
  gkit/src/components/icons/assets/alert_24_regular.svg
  gkit/src/components/icons/assets/book_24_filled.svg
  gkit/src/components/icons/assets/book_24_regular.svg
  gkit/src/components/icons/assets/chat_24_filled.svg
  gkit/src/components/icons/assets/chat_24_regular.svg
  gkit/src/components/icons/assets/home_24_filled.svg
  gkit/src/components/icons/assets/home_24_regular.svg
  gkit/src/components/icons/assets/mic_sparkle_24_filled.svg
  gkit/src/components/icons/assets/mic_sparkle_24_regular.svg
  gkit/src/components/icons/assets/people_community_24_filled.svg
  gkit/src/components/icons/assets/people_community_24_regular.svg
  gkit/src/components/icons/assets/text_bullet_list_tree_24_filled.svg
  gkit/src/components/icons/assets/text_bullet_list_tree_24_regular.svg
  gkit/src/components/icons/book.tsx
  gkit/src/components/icons/chat.tsx
  gkit/src/components/icons/home.tsx
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/micSparkle.tsx
  gkit/src/components/icons/peopleCommunity.tsx
  gkit/src/components/icons/textBulletListTree.tsx
Labels: project:uikit, project:uikit-components

#66 add chatHelp icon
  gkit/src/components/icons/assets/chat_help_24_filled.svg
  gkit/src/components/icons/assets/chat_help_24_regular.svg
  gkit/src/components/icons/chatHelp.tsx
  gkit/src/components/icons/index.ts
Labels: project:uikit, project:uikit-components

#64 cr/design-system-changes: Изменения дизайн системы
  app/package-lock.json
  app/src/pages/uikit/components/buttonGroup/index.tsx
  app/src/pages/uikit/components/buttons/index.tsx
  app/src/pages/uikit/components/buttons/style.less
  app/src/pages/uikit/components/colors/index.tsx
  app/src/pages/uikit/components/popovers/index.tsx
  app/src/pages/uikit/components/textFields/index.tsx
  app/src/pages/uikit/index.tsx
  app/src/pages/uikit/style.less
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/button/index.tsx
  gkit/src/components/button/style.less
  gkit/src/components/form/index.tsx
  gkit/src/components/link/style.less
  gkit/src/components/multiSelect/index.tsx
  gkit/src/components/multiSelect/style.less
  gkit/src/components/select/index.tsx
  gkit/src/components/select/style.less
  gkit/src/components/textArea/index.tsx
  gkit/src/components/textArea/style.less
  gkit/src/components/textField/style.less
  gkit/src/ui.less
  gkit/src/variables.less
  package-lock.json
Labels: project:demo-app, project:uikit, project:uikit-components, project:uikit-styles

#67 fix/border-radius-safari
  app/package-lock.json
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/button/style.less
  gkit/src/components/multiSelect/style.less
  gkit/src/components/select/style.less
  gkit/src/components/textArea/style.less
  gkit/src/components/textField/style.less
  gkit/src/ui.less
Labels: project:demo-app, project:uikit, project:uikit-components, project:uikit-styles

#68 fix toggle
  gkit/src/components/toggle/index.tsx
  gkit/src/components/toggle/style.less
Labels: project:uikit, project:uikit-components

#69 added like,dislike icons
  gkit/src/components/icons/README.md
  gkit/src/components/icons/assets/thumb_dislike_24_regular.svg
  gkit/src/components/icons/assets/thumb_like_24_regular.svg
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/thumbDislike.tsx
  gkit/src/components/icons/thumbLike.tsx
Labels: project:uikit, project:uikit-components

#70 refactoring/add select from radix
  app/package-lock.json
  app/src/pages/uikit/components/selects/index.tsx
  gkit/package-lock.json
  gkit/package.json
  gkit/src/components/select/index.tsx
  gkit/src/components/select/style.less
Labels: project:demo-app, project:uikit, project:uikit-components

#71 added autoFocus to TextArea
  app/src/pages/uikit/components/textAreas/index.tsx
  gkit/src/components/textArea/index.tsx
Labels: project:demo-app, project:uikit, project:uikit-components

#72 add icon
  gkit/src/components/icons/assets/hand_right_24_filled.svg
  gkit/src/components/icons/assets/hand_right_24_regular.svg
  gkit/src/components/icons/handRight.tsx
  gkit/src/components/icons/index.ts
Labels: project:uikit, project:uikit-components

#73 add warning icon
  gkit/src/components/icons/assets/warning_24_filled.svg
  gkit/src/components/icons/assets/warning_24_regular.svg
  gkit/src/components/icons/index.ts
  gkit/src/components/icons/warning.tsx
Labels: project:uikit, project:uikit-components

#75 add emoji
  gkit/src/components/emoji/index.ts
  gkit/src/components/emoji/raisedHand.tsx
  gkit/src/components/emoji/sadFace.tsx
Labels: project:uikit, project:uikit-components

#76 add delete icon
  gkit/src/components/icons/assets/delete_24_filled.svg
  gkit/src/components/icons/assets/delete_24_regular.svg
  gkit/src/components/icons/delete.tsx
  gkit/src/components/icons/index.ts
Labels: project:uikit, project:uikit-components
